### Sales Tax

We need to calculate the sales taxes for our customer that made three transactions in `multi_order_customers` below.

(The customer that made three transactions was customer C00001). Run this cell to create the list.

In [1]:
multi_order_customers = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]

Create a tuple from the first element in the `multi_order_customers`.

Unpack this tuple into the variables `transaction1`, `transaction2`, and `transaction3`.

Once you've have separated the transactions, calculate the tax of .08 rounded to 2 decimals and print it.

In [10]:
transaction1 = (multi_order_customers[0][0], multi_order_customers[1][0], multi_order_customers[2][0], multi_order_customers[3][0], multi_order_customers[4][0])
transaction2 = (multi_order_customers[0][1], multi_order_customers[1][1], multi_order_customers[2][1], multi_order_customers[3][1], multi_order_customers[4][1])
transaction3 = (multi_order_customers[0][2])

In [22]:
sales_tax1 = 0
sales_tax2 = 0
sales_tax3 = 0
for i in transaction1:
    temp = 0
    temp = i * 0.08
    sales_tax1 += temp
for i in transaction2:
    temp = 0
    temp = i * 0.08
    sales_tax2 += temp

In [24]:
round(sales_tax3, 2)

0